.TopNav {
    background-color: indianred;
    color: cornsilk;
    text-decoration: solid;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ulNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

a.nounderline{
    text-decoration: none;
}
