.contract{
    display: flex;
    flex-wrap: wrap;
    position:inherit;
    margin: 10px;
    padding: 20px;
}
.linkedin-img , .github-img{
    width: 30px;
    height: 40px;
    border: 1px;
    border-radius: 10%;
}
.email-img{
    width: 40px;
    height: 40px;
    border: 1px;
    border-radius: 10%;
}

.linkedin-a, .github, .gmail{
    display: grid;
    position: center;
    margin-left: 20px;
}